@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);

* {
  box-sizing: border-box 
}
html{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
body{
  margin: 0;
  height: 100vh;
  background-color: #282D35;
}
.NavLogo{
  width: 5%;
}

.navbar{
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 20px;
}

.navbar > h1{
  margin: 0;
  margin-left: 5px;
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;
}

.navbar > h3{
  margin: 0;
  color: white;
  font-weight: 600;
}

.content{
  padding: 20px;
}

.content > h1{
  margin: 0;
  color: white;
}

.content-unordered-list{
  display: inline-block;
  margin-right: 15px;
}
.content-unordered-list > li{
  padding: 10px;
  font-weight: 50;
  color: white;
}

.content-unordered-list > li::marker{
  color: #61DAFB;
  font-size: 1.4em;
}

.content-img{
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 100px;
  margin-top: 20px
}
